<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135747276353-9g7928hbv7qqva7oq48adi9abqc2og6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135747276353-9g7928hbv7qqva7oq48adi9abqc2og6h</string>
	<key>API_KEY</key>
	<string>AIzaSyB-R1x2sBJ_zFaAY5z2yXfv1sdAeDa0GpE</string>
	<key>GCM_SENDER_ID</key>
	<string>135747276353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.razorpayDemo</string>
	<key>PROJECT_ID</key>
	<string>razorpay-demo-4d028</string>
	<key>STORAGE_BUCKET</key>
	<string>razorpay-demo-4d028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135747276353:ios:c6bcadcac1f864b2d640c0</string>
</dict>
</plist>